.git
.gitignore
.idea
.vscode
.run
**/target
**/build
**/node_modules
**/.DS_Store
**/*.log
docker-data
.env
.env.*
*.md
!README.md
docs/
scripts/
Makefile
pom.xml
nginx/
docker/
k8s/
ops/
infrastructure/
litmus/
config-repo/
.devcontainer/
.mvn/
mvnw
mvnw.cmd
.project
.settings
*.iml
